name: release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cli/gh-extension-precompile@v2
        with:
          go-version: "1.23.1"
          generate_attestations: true
